html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body {
    color: white;
    background: #171A1A;
    font-family: sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 60px 0;
}
.container {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0 20px;
}
header {
    margin-bottom: 60px;
    h1 {
        display: block;
        svg {
            max-width: 100%;
        }
        span.name {
            position: absolute;
            left: -9999px;
        }
    }
}
nav.social {
    position: absolute;
    top: 0;
    right: 20px;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: right;
        text-transform: uppercase;
        li {
            a {
                color: #B2B2B2;
                font-size: .75em;
                text-decoration: none;
                &:hover, &:focus, &:active {
                    color: white;
                }
            }
        }
    }
}
p {
    -webkit-font-smoothing: antialiased;
    color: #b2b2b2;
    margin-bottom: 70px;
    font-size: 1.15em;
    max-width: 450px;
    line-height: 1.4em;
}
article {
    border: 3px solid #EF709D;
    position: relative;
    margin-bottom: 70px;
    height: 150px;
    padding: 0;
    box-sizing: border-box;
    border-color: transparent;
    vertical-align: top;
    &:before {
        content: '';
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .3;
        transition: opacity .4s ease-in-out;
    }
    &:hover, &:focus {
        &:before {
            opacity: .7;
        }
        span.moving-border {
            opacity: 1;
        }
    }
    &.fullwidth {
        width: 100%;   
    }
    &.halfwidth {
        width: calc(50% - 25px);
        display: inline-block;
        &.left {
            margin-right: 45px;
        }
    }
    span.moving-border {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -3px;
        left: -3px;
        border: 3px solid #EF709D;
        display: block;
        opacity: 0;
        transition: transform 0.05s ease, opacity .2s ease-in-out;
    }
    span.label {
        position: absolute;
        bottom: -34px;
        left: 0;
        padding-top: 15px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: .3em;
        color: #EF709D;
        -webkit-font-smoothing: antialiased;
        color: #b2b2b2;
        transition: color .2s ease-in-out;
    }
    &.myprojects {
        border-color: #B2B2B2;
        position: relative;
        span.moving-border {
            border-color: #B2B2B2;
        }
        span.label {
            color: #B2B2B2;
            position: absolute;
            top: 50%;
            left: 50%;
            bottom: auto;
            transform: translate(-50%, -50%);
            padding: 0;
        }
    }
    &.blog {
        &:before {
            background-image: url('/images/blog.jpg');
        }
        span.moving-border {
            border-color: #EF709D;
        }
        span.label {
            color: #EF709D;
        }
    }
    &.work {
        margin-bottom: 140px;
        &:before {
            background-image: url('/images/work.jpg');
        }
        span.moving-border {
            border-color: #8870EF;
        }
        span.label {
            color: #8870EF;
        }

    }
    &.broadwaypins {
        &:before {
            background-image: url('/images/broadwaypins.jpg');
        }
        span.moving-border {
            border-color: #FF7D00;
        }
        span.label {
            color: #FF7D00;
        }
    }
    &.repertwa {
        &:before {
            background-image: url('/images/repertwa.jpg');
        }
        span.moving-border {
            border-color: #BEA71C;
        }
        span.label {
            color: #BEA71C;
        }
    }
    &.houseseat {
        &:before {
            background-image: url('/images/houseseat.jpg');
        }
        span.moving-border {
            border-color: #70E4EF;
        }
        span.label {
            color: #70E4EF;
        }
    }
    &.couchmovies {
        &:before {
            background-image: url('/images/couchmovies.jpg');
        }
        span.moving-border {
            border-color: #F14734;
        }
        span.label {
            color: #F14734;
        }
    }
    &.couchmoviesiphone {
        &:before {
            background-image: url('/images/couchmoviesiphone.jpg');
        }
        span.moving-border {
            border-color: #EA4FA1;
        }
        span.label {
            color: #EA4FA1;
            bottom: -53px;
        }
    }
}
footer {
    font-size: .7em;
    text-align: center;
    color: #666;
    margin-top: 80px;
}
@media only screen and (max-width:560px) {
    body {
        padding: 10px 0 30px;
    }
    .container {
        padding: 0 15px;
    }
    header {
        margin-bottom: 20px;
        h1 {
            text-align: center;
            margin-bottom: 0;
        }
    }
    nav.social {
        position: relative;
        right: auto;
        text-align: center;
        margin-bottom: 30px;
        ul {
            text-align: center;
            li {
                display: inline-block;
                padding: 0 5px
            }
        }
    }
    p {
        text-align: center;
        font-size: .94em;
        margin-bottom: 40px;
    }
    article {
        margin-bottom: 50px;
        span.label {
            font-size: .8em;
            bottom: -30px;
        }
        &.work {
            margin-bottom: 80px;
        }
        &.myprojects {
            margin-bottom: 30px;
        }
        &.couchmoviesiphone {
            span.label {
                bottom: -47px;
            }
        }
        &.halfwidth {
            width: 100%;
            &.left {
                margin-right: 0;
            }
        }
        &:before {
            opacity: .8;
        }
        span.moving-border {
            //transform: translate3d(-7px,-7px,0) !important;
            transform: translate3d(0,0,0);
            display: block;
            opacity: 1;
        }
        /* &:nth-child(odd) {
            span.moving-border {
                transform: translate3d(7px,7px,0) !important;
            }   
        } */
    }
}
/* Animation for Logo */
.SLanXSWw_0{stroke-dasharray:185 187;stroke-dashoffset:186;animation:SLanXSWw_draw 678ms ease-in-out 0ms forwards;}.SLanXSWw_1{stroke-dasharray:131 133;stroke-dashoffset:132;animation:SLanXSWw_draw 481ms ease-in-out 678ms forwards;}.SLanXSWw_2{stroke-dasharray:71 73;stroke-dashoffset:72;animation:SLanXSWw_draw 262ms ease-in-out 1159ms forwards;}.SLanXSWw_3{stroke-dasharray:116 118;stroke-dashoffset:117;animation:SLanXSWw_draw 426ms ease-in-out 1422ms forwards;}.SLanXSWw_4{stroke-dasharray:184 186;stroke-dashoffset:185;animation:SLanXSWw_draw 674ms ease-in-out 1848ms forwards;}.SLanXSWw_5{stroke-dasharray:58 60;stroke-dashoffset:59;animation:SLanXSWw_draw 215ms ease-in-out 2523ms forwards;}.SLanXSWw_6{stroke-dasharray:39 41;stroke-dashoffset:40;animation:SLanXSWw_draw 145ms ease-in-out 2738ms forwards;}.SLanXSWw_7{stroke-dasharray:146 148;stroke-dashoffset:147;animation:SLanXSWw_draw 536ms ease-in-out 2884ms forwards;}.SLanXSWw_8{stroke-dasharray:158 160;stroke-dashoffset:159;animation:SLanXSWw_draw 579ms ease-in-out 3420ms forwards;}@keyframes SLanXSWw_draw{100%{stroke-dashoffset:0;}}@keyframes SLanXSWw_fade{0%{stroke-opacity:1;}95.1219512195122%{stroke-opacity:1;}100%{stroke-opacity:0;}}